.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

/*@media all and (min-width:768px)*/
.navbar-header {
    float: left;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px;
}



.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.4), 0px 0px 30px rgba(0,0,0,0.075);
    background:url('..\assets\picture\main.jpg');
    height: 500px;
    box-shadow: inset 0px 3px 7px rgba(0,0,0,0.2), inset 0px -3px 7px rgba(0,0,0,0.2);
}

.masthead {
    padding: 60px 0 80px;
    margin-bottom: 0px;
    color: #fff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.masthead h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700;
}

.jumbotron .h1, .jumbotron h1 {
    color: inherit;
}

.h1, .h2, .h3, .h4, .lead, h1, h2, h3, h4 {
    font-family: Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Hiragino Sans GB W3,Microsoft YaHei UI,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.h1, h1 {
    font-size: 36px;
}

.masthead h2 {
    font-size: 30px;
    font-weight: 200;
    line-height: 1.25;
}


.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

.btn-lg.btn-shadow {
    padding: 13px 35px 17px;
}

.btn-primary.btn-shadow {
    box-shadow: inset 0px -4px 0px #23527c;
    border: 0;
    color: #fff;
}

.btn {
    margin-top:30px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333;
    border-radius: 6px;
}


/*@media all and (min-width:768px)*/
.navbar {
    min-height: 40px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}


.navbar-fixed-top {
    top: 0px;
    border-width: 0 0 1px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}

/*@media all and (max-width:1199px) and (min-width:992px)*/
.hidden-md {
    display: none !important;
}


.nav > li {
    position: relative;
    display: block;
}


.collapse {
    display: none;
}


/*@media all and (min-width:768px)*/
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

ol, ul {
    margin-top: 0px;
    margin-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
}

.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

/*@media all and (min-width:768px)*/
.navbar-nav > li {
    float: left;
}


.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

/*@media all and (min-width:768px)*/
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*@media all and (min-width:768px)*/
.navbar-nav > li > a {
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
}

/*@media all and (min-width:768px)*/
.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-nav {
    margin: 7.5px -15px;
}

/*@media all and (min-width:768px)*/
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1);
}

/*@media all and (min-width:768px)*/
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0px;
    overflow: visible !important;
}

.bc-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

.bc-social-buttons {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}

.bc-social-buttons li {
    display: inline-block;
    line-height: 1;
    color: #555;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.4285;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.projects .thumbnail {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 310px;
    margin-bottom: 30px;
    border-radius: 0;
}
.projects .thumbnail img {
    max-width: 100%;
    height: auto;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}


.thumbnail a > img, .thumbnail > img {
    margin-right: auto;
    margin-left: auto;
}

.projects-header {
    width: 60%;
    text-align: center;
    font-weight: 200;
    display: block;
    margin: 60px auto 40px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

/*@media screen and (min-width:768px)*/
.projects-header h2 {
    font-size: 42px;
}

.projects-header h2 {
    font-size: 30px;
    letter-spacing: -1px;
}

.projects-header {
    width: 60%;
    text-align: center;
    font-weight: 200;
    display: block;
    margin: 60px auto 40px;
}
.projects .thumbnail .caption {
    height: 200px;
    overflow-y: hidden;
    color: #555;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.footer, .footer a {
    color: #777;
}

.footer {
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.footer-bottom {
    font-size: 13px;
}

.footer-top .about > div {
    
    height: 110px;
    margin-bottom: 10px;
}

.footer-top .about > div h4 {
    color: #563d7c;
    font-size: 16px;
}

.list-unstyled {
    padding-left: 0px;
    list-style: none;
}

.lazy{
    height: 120px;
}

* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul, li {
	list-style: none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}
body, button, input, select, textarea {
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
body {
	margin: 0;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.4285;
	color: #333;
	background-color: #fff;
}
body {
	font-family: "微软雅黑";
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.hideheader {
	position: absolute;
	top: 0px;
	right: 3%;
}
.page {
	height: 100%;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
/* @media all and (min-width:768px) */
.container {
	width: 750px;
}
/* @media all and (min-width:992px) */
.container {
	width: 970px;
}
/* @media all and (min-width:1200px) */
.container {
	width: 1170px;
}
.kode-gallery {
	float: left;
}
.clear {
	clear: both;
}
.updown {
	width: 5%;
	margin: auto;
}
a {
	text-decoration: none;
}
a {
	text-decoration: none;
}
a {
	background-color: transparent;
}
a {
	color: #337ab7;
	text-decoration: none;
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.updown i {
	font-size: 30px;
	color: #999;
}
.threlef {
	float: left;
}
.threlef {
	margin-top: 1%;
	margin-left: 7%;
}
.threrig {
	float: right;
	width: 100%;
}
.threrig a.yljz {
	background: #e6597c;
	display: block;
	border-radius: 50%;
	color: #fff;
}
.threrig a.jkgy {
	background: #e60012;
	display: block;
	border-radius: 50%;
	color: #fff;
}
.threrig a.jzzj {
	background: #28a7e1;
	display: block;
	border-radius: 50%;
	color: #fff;
}
.threrig a.jycj {
	background: #ea5413;
	display: block;
	border-radius: 50%;
	color: #fff;
}
.threrig a.sqzc {
	background: #90c31f;
	display: block;
	border-radius: 50%;
	color: #fff;
}
.threrig a.gjjy {
	background: #f39800;
	display: block;
	border-radius: 50%;
	color: #fff;
}
.jsbox {
	margin-top: 3%;
	margin: 20px auto;
	padding: 0 30px;
}
p {
	margin: 0 0 10px;
}
.jsbox p {
	line-height: 25px;
	color: #666666;
	font-size: 12px;
}
.jsbox p span {
	color: #ec1c24;
	font-weight: bold;
	font-size: 12px;
}
.project_box {
	position: relative;
}
a .project_box {
	height: 65px;
	padding: 16px 0;
}
.threrig .radius_box {
	width: 65px;
	height: 65px;
	color: #666;
	border-radius: 50%;
	display: block;
	text-align: center;
	float: left;
	margin: 0 43px;
}
.radius_box01 {
	margin: 30px auto 0 10px;
}
.radius_box span {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #999;
	display: block;
	float: left;
	margin: 0 4%;
}
.threrig a.gjjy .radius_box {
	background: #f39800;
	color: #fff;
	margin: 0 26px;
}
.radius_box01 li, .project_box li {
	line-height: initial;
	font-size: 12px;
}
.threrig a.sqzc .radius_box {
	background: #90c31f;
	color: #fff;
	margin: 0 26px;
}
.threrig a.jycj .radius_box {
	background: #ea5413;
	color: #fff;
	margin: 0 26px;
}
.threrig a.jzzj .radius_box {
	background: #28a7e1;
	color: #fff;
	margin: 0 26px;
}
.threrig a.jkgy .radius_box {
	background: #e60012;
	width: 65px;
	height: 65px;
	color: #fff;
	border-radius: 50%;
	display: block;
	text-align: center;
	line-height: 65px;
	float: left;
	margin: 0 26px;
}
.threrig a.jkgy li {
	line-height: initial;
	font-size: 12px;
}
.threrig a.jkgy li {
	line-height: 16px;
}
.threrig a.yljz .radius_box {
	background: #e6597c;
	color: #fff !important;
	margin: 0 30px;
}
img {
	border: none;
}
fieldset, img {
	border: 0;
}
img {
	border: 0;
}
img {
	vertical-align: middle;
}
.pagebox {
	width: 275px;
	margin: 0 auto;
	float: left;
	padding: 35px 0;
	position: relative;
}
.kode-gallery .pagebox {
	list-style: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
figure {
	margin: 1em 40px;
}
figure {
	margin: 0;
}
.kode-gallery figure, .gallery-thumb, .gallery-thumb img {
	margin: 0px;
	float: left;
	width: 100%;
	height: 150px;
}
.jzpage_two figure {
	border-right: 1px solid #eee;
}
.pagebox01 figure {
	border-right: none;
}
.pagebox p {
	text-align: center;
	margin-bottom: 30px;
}
.pagebox p.pp {
	line-height: 25px;
	margin-bottom: 15px;
}
.sub-nav {
	display: none;
}
/* @media screen and (max-width:2920px) and (min-width:1024px) */
.sub-nav {
	display: block;
	opacity: 0;
	-ms-transform: scale(0,0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-ms-transform-origin: 50% 10%;
	-webkit-transform-origin: 50% 10% 0px;
	transform-origin: 50% 10% 0px;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.nav-list .sub-nav {
	position: relative;
	left: 80%;
	top: 44px;
	margin-left: -225px;
	z-index: 9999;
	width: 100%;
	background-color: #fff;
}
span.j {
	background: red;
}
.sub-nav .j {
	position: absolute;
	left: 50%;
	top: -15px;
	margin-left: -8px;
	display: block;
	line-height: 0;
	height: 0px;
	font-size: 0px;
}
.sub-nav-list {
	padding: 10px 20px;
	overflow: hidden;
	background: #e60012;
}
.sub-nav-list03 {
	padding: 10px 20px;
	overflow: hidden;
	background: #90c31f;
}
.sub-nav-list a {
	float: left;
	width: 50%;
	line-height: 20px;
	color: #fff;
	width: 100%;
}
.sub-nav-list03 a {
	float: left;
	width: 50%;
	line-height: 20px;
	color: #fff;
	width: 100%;
}
.pagebox p a {
	text-align: center;
	line-height: 35px;
	color: #333;
	font-size: 18px;
}
.pagebox p.pp a {
	line-height: 20px;
	font-size: 16px;
}
.pagebox p span {
	color: #ec1c24;
	font-size: 16px;
	font-weight: bold;
}
.pagebox p font {
	color: #000;
	font-size: 18px;
	font-weight: bold;
}
.sub-nav-list02 {
	padding: 10px 20px;
	overflow: hidden;
	background: #ea5413;
}
.sub-nav-list02 a {
	float: left;
	width: 50%;
	line-height: 20px;
	color: #fff;
	width: 100%;
}
.sub-nav-list01 {
	padding: 10px 20px;
	overflow: hidden;
	background: #28a7e1;
}
.sub-nav-list01 a {
	float: left;
	width: 50%;
	line-height: 20px;
	color: #fff;
	width: 100%;
}
.pagebox figure p.zwpp {
	color: #000;
}
ul, ol {
	list-style: none;
}
ol, ul {
	margin-top: 0px;
	margin-bottom: 10px;
}
.hidden {
	display: none !important;
}
.headcont {
	display: none;
}
.hideheader ul {
	margin-top: 30%;
	text-align: right;
	color: #666;
}
.hideheader li {
	line-height: 45px;
	text-align: right;
}
.hideheader li a {
	font-size: 18px;
}

.row{
    display: inline-flex;
    width: 100%;
}










