*, ::after, ::before {
	box-sizing: border-box;
}
.form-signin {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin: 0 auto;
}
body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
html, body {
	height: 100%;
}
body {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color:black;
	height: 100%;
}
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
:root {
	--input-padding-x:  .75rem;
	--input-padding-y:  .75rem;
}
img {
	vertical-align: middle;
	border-style: none;
}
.mb-4, .my-4 {
	margin-bottom: 1.5rem !important;
}
.mt-5, .my-5 {
	margin-top: 3rem !important;
}
.text-center {
	text-align: center !important;
}
.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}
p {
	margin-top: 0px;
	margin-bottom: 1rem;
}
.h3, h3 {
	font-size: 1.75rem;
}
.mb-3, .my-3 {
	width: 100%;
	margin-bottom: 1rem !important;
}
button {
	border-radius: 0;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button, input {
	overflow: visible;
}
button, select {
	text-transform: none;
}
[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: button;
}
.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn-group-lg > .btn, .btn-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}
.btn-block {
	display: block;
	width: 100%;
}
:not(:disabled):not(.disabled).btn {
	cursor: pointer;
}
.text-muted {
	color: #fefeff !important;
}
label {
	display: inline-block;
	margin-bottom: 0.5rem;
}
input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}
.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-label-group > input, .form-label-group > label {
	padding:  var(--input-padding-y) var(--input-padding-x);
}
.form-label-group > label {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	margin-bottom: 0px;
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0.5rem;
}
.h1, h1 {
	font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}
.font-weight-normal {
	font-weight: 400 !important;
}
code, kbd, pre, samp {
	font-family: monospace,monospace;
	font-size: 1em;
}
code, kbd, pre, samp {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
code {
	font-size: 87.5%;
	color: #e83e8c;
	word-break: break-word;
}
a {
	color: #fcfcfc;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
.back{
    /* position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.4), 0px 0px 30px rgba(0,0,0,0.075); */
    background:url('..\assets\picture\main2.jpg') no-repeat;
	background-size: 100%;
	bottom: 0px;
    /* box-shadow: inset 0px 3px 7px rgba(0,0,0,0.2), inset 0px -3px 7px rgba(0,0,0,0.2); */
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-primary {
    background-color: #337ab7;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-success {
    background-color: #5cb85c;
}

